$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$grayish-blue: hsl(201, 11%, 66%);
$light-grayish-blue: hsl(201, 10%, 93%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$white: hsl(255, 100%, 100%);
$btn-shadow: hsl(0, 0%, 25%);
$btn-strong-cyan: hsl(171, 66%, 48%);
$btn-light-blue: hsl(233, 100%, 73%);
