@import './colors';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: $grayish-blue;
	font-size: 1.8rem;
	font-family: 'Bai Jamjuree', sans-serif;
}

.main {
	margin: 0 auto;
	max-width: 1440px;
}

.btn__container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header {
	padding-block: 6em 2em;
	padding-inline: 2em;
	height: 100%;
	background-image: url(../images/bg-header-mobile.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;

	&__icon {
		margin-bottom: 2.5em;
	}

	&__heading {
		@include heading;
		font-size: 3.9rem;
	}

	&__text {
		@include heading-text;
	}

	&__btn--ios {
		@include btn;
		background-color: $strong-cyan;

		&:hover {
			background-color: $btn-strong-cyan;
		}
	}

	&__btn--mac {
		@include btn;
		background-color: $light-blue;

		&:hover {
			background-color: $btn-light-blue;
		}
	}
}

.track {
	@include section;

	&__heading {
		@include heading;
	}

	&__text {
		@include heading-text;
	}

	&__container {
		&__img {
			width: clamp(150px, 95%, 640px);
		}
	}

	.list__element {
		&__heading {
			@include element-heading;
		}

		&__text {
			@include element-text;
		}
	}
}

.access {
	@include section;

	&__heading {
		@include heading;
	}

	&__text {
		@include heading-text;
	}

	&__img {
		width: clamp(150px, 100%, 700px);
	}
}

.supercharge {
	@include section;
	margin-top: -2em;

	&__heading {
		@include heading;
	}

	&__text {
		@include heading-text;
		margin-bottom: 0em;
	}

	&__container__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.list__element {
		margin: 0 auto;
		max-width: 300px;
		&__heading {
			@include element-heading;
		}

		&__text {
			@include element-text;
		}

		&__icon {
			margin-block: 3em -1.5em;
			transform: scale(1.2);
		}
	}
}

.clients {
	@include section;

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		&__img {
			@include client-img;
		}
	}
}

.get-clipboard {
	@include section;
	margin-bottom: 5em;

	&__heading {
		@include heading;
	}

	&__text {
		@include heading-text;
	}

	&__btn--ios {
		@include btn;
		background-color: $strong-cyan;

		&:hover {
			background-color: $btn-strong-cyan;
		}
	}

	&__btn--mac {
		@include btn;
		background-color: $light-blue;

		&:hover {
			background-color: $btn-light-blue;
		}
	}
}

.footer {
	padding: 2.5em;
	text-align: center;
	background-color: $light-grayish-blue;

	&__icon {
		margin-inline: 15px;
		height: auto;
		width: 55px;
	}

	&__links {
		padding: 1em;
		&__link {
			margin: 1.3em;
			display: block;
			color: $dark-grayish-blue;
			text-decoration: none;

			&:hover {
				color: $strong-cyan;
			}
		}
	}

	&__socials {
		&__link {
			margin-inline: 15px;
			color: $dark-grayish-blue;
			font-size: 3rem;

			&:hover {
				color: $strong-cyan;
			}
		}
	}
}

.attribution {
	font-size: 1.2rem;
	padding-block: 0em 2em;
	padding-inline: 2em;
	background-color: $light-grayish-blue;
	text-align: center;

	&__link {
		color: $dark-grayish-blue;
		text-decoration: none;

		&:hover {
			color: $strong-cyan;
			text-decoration: underline;
		}
	}
}

@media (min-width: 998px) {
	.header {
		margin-bottom: -2em;
		background-image: url(../images/bg-header-desktop.png);
	}

	.track {
		position: relative;
		&__container {
			display: flex;
			position: relative;
			left: -22.5%;
			justify-content: center;

			&__img {
				margin-right: 5em;
				width: clamp(150px, 165%, 1700px);
			}

			&__list {
				text-align: left;

				.list {
					&__element__heading {
						min-width: 15ch;
					}

					&__element__text {
						margin-inline: 0;
						width: clamp(25ch, 105%, 85ch);
					}
				}
			}
		}
	}

	.access {
		&__img {
			width: clamp(150px, 115%, 900px);
		}
	}

	.supercharge {
		margin-top: -3em;

		&__text {
			margin-bottom: 1em;
		}
	}

	.clients {
		margin-block: -1em -2em;
	}

	.get-clipboard {
		margin-bottom: 3em;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&__links {
			margin-inline: 2.5em;
			display: flex;

			&__link {
				margin: 0.5em 1em;
			}
		}

		&__socials {
			min-width: 180px;
		}
	}
}
